<%- include('includes/head'); %>
<body>

  <section class="container">
    <h1>

      <!--   tags do ejs: <%=  %>    -->
      <%= titulo %> <br> <!--   titulo é a própria chave do objeto passado la no render do homeController!   -->
      <%- titulo %> <br> <!--   usando o - em vez do = na tag, o = vai ignorar tags html passadas no conteudo, vai mostar literalmente o html em vez de executar, o = é mais seguro! a não ser que eu tenha certeza de que esdtou passando tags html e queira executar, daí usa o sinal de -    -->

      <!--   posso usar JS entre as tags! mas tem que usar as tagas a cada linha   -->
      <% if(typeof numeros !== 'undefined') { %>
        <%= numeros %>
      <% } else { %>
        Os números não foram enviados
      <% } %><br>

      <%= umaVariavelLocal%>
    </h1>
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button type="submit"></button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>